/* src/styles/widgets/RecentActivity.css */
.recent-activity {
    background-color: #27293d;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-activity h3 {
    margin-bottom: 1rem;
}

.recent-activity ul {
    list-style: none;
    padding: 0;
}

.recent-activity ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #3b3b4f;
}

.recent-activity ul li:last-child {
    border-bottom: none;
}
